<html>
<head>
    <meta charset="utf-8">
    <title>Add new Author to Book</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Select the Author to add to the Book </h1>
</header>
<section>
    <h2>Select author:</h2>

<form th:method="post" th:action="@{/author}">
    <div th:each="a : ${authors}">
    <input type="radio" name="authorId" th:value="${a.getId()}" th:text =" ${a.getName()} + ' ' + ${a.getSurname()}"><br/>
    <br/>
    </div>
    <input type='submit' value="Add author">
</form>
</section>
<aside>
    <table>
        <tr>
            <td><b>Book Isbn</b></td>
            <td th:text="${isbn}"></td>
        </tr>
    </table>
</aside>
</body>
</html>